In [4]:
import numpy  as np
import pandas as pd
from   bs4 import BeautifulSoup
import webdriver_manager
from   webdriver_manager.chrome import ChromeDriverManager
import splinter
from   splinter import Browser
import time

In [5]:
driver = ChromeDriverManager().install()
executable_path = {'executable_path': driver}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
# make the browser vist the following webpage
url = 'https://redplanetscience.com/'
browser.visit(url)

In [13]:
#extracting the data 
news_title = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[2]').text
news_p = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[3]').text

print(news_title)
print(news_p)

With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen
For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars.

In [15]:
#visiting webpage 
image_url = 'https://spaceimages-mars.com'
browser.visit(image_url)
time.sleep(1)

In [17]:
# finding the element 
browser.find_by_xpath('/html/body/div[1]/div/a/button').click()

In [18]:
featured_image_url = browser.find_by_xpath('/html/body/div[8]/div/div/div/div/img')["src"]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [19]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [27]:
#Mars Hemisphere
hem_url = 'https://marshemispheres.com/'
browser.visit(hem_url)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [28]:
url = 'https://marshemispheres.com/'
browser.visit(url)

hemisphere_image_urls = []
for image in range(1,5):
    xpath = f'//*[@id="product-section"]/div[2]/div[{image}]/div/a/h3'
    browser.find_by_xpath(xpath).click()
    img = browser.find_by_xpath('//*[@id="wide-image"]/div/ul/li[1]/a')['href']
    title = browser.find_by_xpath('//*[@id="results"]/div[1]/div/div[3]/h2').text
    urls = {}
    urls["title"]= title
    urls["img_url"]= img
    hemisphere_image_urls.append(urls)
    browser.back()

browser.quit()
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]